.modal__container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 430px;
  min-height: 181px;
  border-radius: 10px;
  padding: 34px 36px 37px 34px;
  box-shadow: 0 0 25px rgba(0, 0 , 0, 0.15);
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .modal__container {
      margin: auto 19px;
      padding: 25px 22px 25px 22px;
  }
}