@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Inter/inter.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/page-js.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__occupation/profile__occupation.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__section/profile__section.css);
@import url(./blocks/profile/__foto/profile__foto.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__editing/profile__editing.css);
@import url(./blocks/element/element.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like/_active/element__like_active.css);
@import url(./blocks/element/__caption-zone/element__caption-zone.css);
@import url(./blocks/element/__name/element__name.css);
@import url(./blocks/element/__foto-zone/element__foto-zone.css);
@import url(./blocks/element/__delete/element__delete.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);
@import url(./blocks/modal/modal.css);
@import url(./blocks/modal/__form/modal__form.css);
@import url(./blocks/modal/__title/modal__title.css);
@import url(./blocks/modal/__button/modal__button.css);
@import url(./blocks/modal/__button/_disabled/modal__button_disabled.css);
@import url(./blocks/modal/__field/modal__field.css);
@import url(./blocks/modal/__field/_error/modal__field_type_error.css);
@import url(./blocks/modal/__close-icon/modal__close-icon.css);
@import url(./blocks/modal/_active/modal_active.css);
@import url(./blocks/modal/__container/modal__container.css);
@import url(./blocks/modal/__error/modal__error.css);
@import url(./blocks/modal/__error/_visible/modal__error_visible.css);
@import url(./blocks/modal-card/modal-card.css);
@import url(./blocks/modal-card/_active/modal-card_active.css);
@import url(./blocks/modal-card/__label/modal-card__label.css);
@import url(./blocks/modal-card/__container/modal-card__container.css);
@import url(./blocks/modal-card/__image/modal-card__image.css);
@import url(./blocks/element/__count/element__count.css);
@import url(./blocks/element/__likes/element__likes.css);
@import url(./blocks/element/__count/_disactive/element__count_disactive.css);
