.header {
  max-width: 880px;
  padding-top: 45px;
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
@media screen and (max-width: 768px) {
  .header {
    padding-top: 28px;
    padding-left: 27px;
  }
}
@media screen and (min-width: 769px) and (max-width: 980px) {
  .header {
    padding-left: 26px;
  }
}